*                   @ifdd-de/maintainers

/.github/           @ifdd-de/maintainers
/pyproject.toml     @ifdd-de/maintainers
/Dockerfile         @ifdd-de/maintainers
/LICENSE            @ifdd-de/maintainers
